<section class="why-choose-us-and-counters-2" data-aos="fade-up">
       {{ content.field_why_choose_us }}
    <div class="container">
        <hr class="section-divider">
    </div>
    {{ content.field_counter_section }}
</section>