<section class="contact-style-2-details dt-section">
    <div class="container">
        <div class="row justify-content-center">
            {{ content.field_contact_medium }}
        </div>
    </div>
</section>