<div class="list">
    <div class="row">
        <div class="col-6">
           {{ content.field_description.0 }}
        </div>
        <div class="col-5">
            <span>{{ content.field_title.0 }}</span>
        </div>
        <div class="col-1">
            <span>{{ content.field_count.0 }}</span>
        </div>
    </div>
</div>