 <div class="carousel-style-2 blog-style-2">
    <div class="style-2-carousel owl-carousel owl-theme">
        {% for row in rows %}
            {{ row.content }}
        {% endfor %} 
    </div>
</div>