<section class="services-sidebar dt-section" data-aos="fade-up">
    <div class="container">
        {{ page.services_img }}
        <div class="row">
            {% if page.sidebar_second %}
                <div class="col-lg-8 col-md-8 col-12">
                    {{ page.content }}
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="sidebar" data-aos="fade-down-left">
                        {{ page.sidebar_second }}
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    {{ page.content }}
                </div>
            {% endif %}
        </div>
    </div>
</section>