<div class="col-lg-6 col-md-6 col-12">
    <div class="item">
        {{ fields.body.content }}
        <div class="details">
            <img src="{{ fields.field_image.content }}" alt="Image">
            <h4>{{ fields.title.content }}</h4>
            <span>{{ fields.field_role.content }}</span>
        </div>
    </div>
</div>