<section class="about-us-1-mission-vision dt-section" style="background-image: url('{{ content.field_background_image.0 }}');" data-aos="fade-up">
    <div class="container">
        <div class="row">
          {{ content.field_statements }}
        </div>
    </div>
</section>