<section class="dt-section" data-aos="fade-up">
    <div class="container">
        <div class="clients-3">
            {% if content.field_tagline.0 or content.field_title.0 %}
                <div class="home-3-title">
                    {% if content.field_tagline.0 %}
                        <span>{{ content.field_tagline.0 }}</span>
                    {% endif %}
                    <h2>{{ content.field_title.0 }}</h2>
                    <hr>
                </div>
            {% endif %}
            {{ content.field_client }}
        </div>
    </div>
</section>