<section class="page-banner" style="background-image: url('{{ fields.field_banner_image.content }}');">
    <div class="container dt-section">
        <div class="heading">
            <h1>{{ fields.name.content }}</h1>
        </div>
    </div>
</section>