{% if content.field_style_variant.0['#markup'] in 'style1' %}
    <section class="services-list-style-1 services-style-1 dt-section" data-aos="fade-up">
{% elseif content.field_style_variant.0['#markup'] in 'style2' %}
    <section class="services-list-style-1 services-style-2 dt-section" data-aos="fade-up">
{% else %}
    <section class="services-list-style-1 dt-section" data-aos="fade-up">
{% endif %}
    <div class="container">
        <div class="row">
            {{ content.field_services }}
        </div>
    </div>
</section>