<section class="testimonial-3" data-aos="fade-up">
    <div class="dt-section" style="background-image: url('{{ content.field_background_image.0 }}');">
        <div class="container">
            {{ content.field_testimonials }}
        </div>
    </div>
</section>